@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
 
  body {
    font-family: "Josefin Sans", sans-serif;
  }
  
  .navbar {
    font-size: 20px;
    background-image:linear-gradient(135deg,  #71b7e6, #9b59b6);;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;

  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
    font-size: 20px;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }

  .navbar .main-nav .nav-links img {
    height: 20px;
    width: 20px;
  }

  


/* div css */
  .container-box {
    border: 1px;  
    padding: 10px;
    background: linear-gradient(135deg,  #71b7e6, #9b59b6);
    font-size: 1rem; /*font size in rem */
    text-align: center;
    height: 180px;
    width: 180px;
    position: absolute;
    left: 1150px;
  }


  #list {
    margin: 20px 0 50px 20px;

}

  #list #taskinput {
    width: 400px;
    height: 40px;
    border-radius: 50px;
    color: black;
    font-size: 1rem;
  }

  #list #tasksubmit {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 1rem;
    background: linear-gradient(135deg, #66ffff, #cc99ff);
    color: white;
    border: none;
    cursor: pointer;
}

#container{
  position:relative;
}

#container1 {
  width: 40%;
  height: 500px;
  border: 1px solid #66ffff;
  overflow-y: scroll;
  position: absolute;
  left: 18px;
}

#container2{
  width: 40%;
  height: 500px;
  border: 1px solid #cc99ff;
  overflow-y: scroll;
  position: absolute;
  left: 565px;
}


  
  
  @media screen and (min-width: 768px){
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 80px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  





  






/* 
   @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #f2f2f2;
}
.container{
  height: 80px;
  width: 50vw;
  line-height: 80px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}
.container .menu{
  display: flex;
  position: relative;
}
.container .menu li{
  list-style: none;
  flex: 1;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}
.container .menu li a{
  color: #1d1f20;
  transition: color 0.3s ease;
}
.container .menu li:hover a{
  color: #f23b26;
}
.container .menu li:first-child a{
  color: #f23b26;
}
.container .menu .line{
  position: absolute;
  height: 5px;
  width: 20%;
  background: #f23b26;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}
.container .menu li:nth-child(2):hover ~ .line{
  left: 20%;
}
.container .menu li:nth-child(3):hover ~ .line{
  left: 40%;
}
.container .menu li:nth-child(4):hover ~ .line{
  left: 60%;
}
.container .menu li:nth-child(5):hover ~ .line{
  left: 80%;
} */